{% extends 'base.html.twig' %}

{% block title %}home{% endblock %}

{% block body %}

{% include "shared/title_section.html.twig" with  {'name': 'Home'} %}

<div class="example-wrapper">

    <h1>Hello!</h1>

</div>
{% endblock %}
