<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Shopping-Shop
			{% endblock %}
		</title>

        {% block stylesheets %}
		<meta name="robots" content="noindex">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Exclusively for all! Take advantage of up to -50% on these offers during our smart days. Shop smart with discounts on electronics, phones and home goods. Up to -50% Buyer Protection. Free Shipping. Summer promo. Great Value. A multitude of sellers.">
		<meta name="keywords" content="">
		<link rel="shortcut icon" type="image/x-icon" href="/assets/images/favicon.png">
        <link rel="stylesheet" href="/assets/style.css">
        {% endblock %}
		{% block scriptStripe %}
			<script src="https://js.stripe.com/v3/"></script>
		{% endblock %}
    </head>
		<body>
			{% include "shared/header.html.twig" %}
			<div class="container pt-5"><br><br>
			{% for message in app.flashes('success') %}
				<div class="alert alert-success text-center" role="alert">
					{{ message}}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
			{% for message in app.flashes('danger') %}
				<div class="alert alert-danger text-center" role="alert">
					{{ message }}
					<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
					</button>
				</div>
			{% endfor %}
			
		</div>

			{% block body %}{% endblock %}
            
            {% include "shared/footer.html.twig" %}

			


			{% block javascripts %}
				<script src="/assets/js/jquery-1.12.4.min.js"></script>
				<script src="/assets/js/popper.min.js"></script>
				<script src="/assets/bootstrap/js/bootstrap.min.js"></script>
				<script src="/assets/owlcarousel/js/owl.carousel.min.js"></script>
				<script src="/assets/js/magnific-popup.min.js"></script>
				<script src="/assets/js/waypoints.min.js"></script>
				<script src="/assets/js/parallax.js"></script>
				<script src="/assets/js/jquery.countdown.min.js"></script>
				<script src="/assets/js/imagesloaded.pkgd.min.js"></script>
				<script src="/assets/js/isotope.min.js"></script>
				<script src="/assets/js/jquery.dd.min.js"></script>
				<script src="/assets/js/slick.min.js"></script>
				<script src="/assets/js/jquery.elevatezoom.js"></script>
				<script src="/assets/js/scripts.js"></script>

				<script type="text/javascript">
					var stripe = Stripe("pk_test_51IlrB5FbsfZOypKxsFUS2oxm824bjM5tUjJEQaSsdxHqlGNLkMFINF3Mf55u1lPVqfKJQjXny4LIYcPv2ArqHVqu00ebx4A92a");

    var checkoutButton = document.getElementById("checkout-button");

    checkoutButton.addEventListener("click", function () {

      fetch("/create-checkout-session", {

        method: "POST",

      })

        .then(function (response) {

          return response.json();

        })

        .then(function (session) {

          return stripe.redirectToCheckout({ sessionId: session.id });

        })

        .then(function (result) {

          // If redirectToCheckout fails due to a browser or network

          // error, you should display the localized error message to your

          // customer using error.message.

          if (result.error) {

            alert(result.error.message);

          }

        })

        .catch(function (error) {

          console.error("Error:", error);

        });

    });
				</script>

			{% endblock %}
		</body>
	</html>
