{% extends 'base.html.twig' %}

{% block title %}>Conditions générales d'utilisations{% endblock %}

{% block body %}

{% include "shared/title_section.html.twig" with  {'name': 'Conditions générales d\'utilisation'} %}

<div class="container">
    <h1 class="text-center">Conditions générales d'utilisations du site Shopping-shop </h1>

    <p class="text-justify">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quas repudiandae excepturi asperiores fugiat. Iure nam ab mollitia tempore repellendus! Deserunt repellat necessitatibus culpa autem assumenda eum in animi eveniet accusantium.
    Eius, exercitationem aut fuga perferendis dignissimos veritatis eaque, consectetur fugit, numquam odit doloribus inventore. Provident porro numquam labore maxime voluptate totam facere saepe quae, repellendus cupiditate veniam vel doloremque possimus!
    Officia inventore voluptatum, exercitationem omnis accusantium illo nostrum? Odio praesentium perferendis, laborum sint animi nihil, dolores, repellat ratione omnis sapiente commodi possimus quidem! Dignissimos vel illo magnam corporis corrupti aperiam!
    Corrupti exercitationem sit reiciendis, id eum excepturi accusantium dicta blanditiis dolores atque, laudantium illum voluptatem voluptatum voluptate qui? Amet commodi eligendi numquam ad illum voluptate eos placeat aspernatur provident! Aliquid.
    Nihil laborum est unde aspernatur soluta consequatur possimus sed eius atque fugiat ex, dicta praesentium accusantium sit voluptatum debitis voluptate dolorem nulla tempore in hic suscipit! Autem ea rerum saepe.
    In odit quis velit reprehenderit accusamus repellendus iste officiis id quos. Consequuntur soluta officiis ex totam. Sit, dolores. Rem ratione ea voluptatibus iusto dolores quod provident error magni architecto debitis!
    Modi fugiat, consequuntur adipisci nisi vitae, voluptatibus fugit, omnis molestiae distinctio numquam corrupti repudiandae dicta porro. Sed omnis consectetur commodi quas totam error, quo id officiis pariatur praesentium provident saepe.
    Obcaecati molestiae, libero ea sed at eveniet quis sequi nihil id cum quas culpa rem officia quos repellendus quae, cupiditate expedita unde impedit. Libero harum animi beatae totam molestias aperiam.
    Assumenda dolores dolorem ipsa reprehenderit exercitationem saepe libero eius? Dolor sit, labore accusamus assumenda cum id obcaecati laborum ut deserunt libero voluptatum voluptatem et qui quae ipsum a eaque sint.
    Quas quasi nisi eaque ipsam odio est harum quisquam alias quae! Iusto nam mollitia vel labore? Voluptate at temporibus impedit exercitationem vero sapiente fuga quos ratione deserunt, excepturi minus dolorum?
    Quaerat porro corrupti impedit deleniti ratione velit, hic veritatis similique sequi autem illo, doloribus laboriosam exercitationem iusto voluptas odit quos libero distinctio dolor tempore ipsam natus aliquam veniam facere? Inventore.
    Ipsum at aliquam, laborum distinctio, cum animi voluptatibus ad omnis maiores nisi facilis earum eius! Voluptates odio dolorum eveniet iste velit, fuga impedit! Officiis ipsa provident iusto quisquam sequi labore.
    Nemo deleniti totam, placeat fuga voluptatum quis illum mollitia iure similique doloribus. Alias tenetur accusantium mollitia nostrum dolorem iusto commodi impedit incidunt dicta dolor. Facere ullam laudantium dolorem cumque harum.
    Inventore earum soluta fuga nemo totam incidunt alias perspiciatis temporibus atque ullam, pariatur eligendi! Accusamus, laborum. Nihil, adipisci? Rem veritatis laudantium sint repudiandae harum fugiat incidunt ea ut nesciunt doloremque!
    Recusandae est reprehenderit animi, dolores error cum veritatis nobis dolorem a quidem inventore voluptatum necessitatibus eius hic soluta? In quisquam sequi laboriosam expedita facere, voluptatem corporis nemo ipsum animi quas?
    Qui accusantium, delectus dignissimos quod non nisi, at eveniet obcaecati suscipit facere quis rem velit minima soluta quidem omnis molestias fugiat neque in, eius veniam. Possimus nesciunt in id consectetur.
    Distinctio non quo reiciendis inventore dolor animi, corrupti rem sapiente quidem vitae eum, suscipit minus maiores nihil sunt vel nesciunt, nostrum illum! Quo sit qui architecto repudiandae dolores obcaecati molestias!
    Possimus ex et, magni minima nam porro esse? Veniam alias dolores tempore. Facilis quam excepturi similique voluptatem non? Error natus quia beatae adipisci rerum voluptas aut obcaecati in quis enim?
    Quisquam, impedit, nam dolore dolorem dolores rerum a voluptatum mollitia nemo praesentium quidem fugiat vitae veniam temporibus asperiores reprehenderit ratione! Minima id enim placeat animi reprehenderit illum vitae non nostrum!
    Modi autem tenetur fugiat in quos voluptate libero excepturi hic aut esse ex inventore est quod, impedit quasi tempore qui aspernatur ratione dolorem enim, quia, eos iste voluptatum alias. Sapiente.</p>
    
</div>
{% endblock %}
